.body {
  /* background-image: url("./background.png"); */
  background-color: white;
  background-size: 100vw;
  margin: 0, 100px, 0, 100px;
}
html {
  background-color: white;
}
body {
  max-width: 1500px;
  margin: auto;
  padding: 10px;
}
.logo {
  width: 300px;
}
